* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Hanken Grotesk", Arial, sans-serif;
  background-color: #262626;
  color: #d9d9d9;
  padding: 20px;
  height: 100vh;
  display: flex;
  justify-content: center;
}

header {
  text-align: center;
}

header h1 {
  font-size: 1.25rem;
  color: #f9f4da;
  max-width: 350px;
}

header > p {
  font-size: 0.875rem;
  color: #8e8e8e;
  max-width: 350px;
}

.status {
  background-color: #10a95b;
  border-radius: 4px;
  text-align: center;
  color: #f9f4da;
  margin-block: 30px;
}

.status h2 {
  font-size: 1.25rem;
  margin: 5px;
}

.status p {
  margin: 5px;
}

.language-chips {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 350px;
  font-size: .75rem;
  font-weight: 700;
  gap: 5px;
}

.chips {
  padding: 4.5px;
  border-radius: 3px;
}

.word {
  letter-spacing: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2.25em;
}

.letter-elements {
  padding: 12px;
  border-bottom: 1px solid #f9f4da;
  margin: 0 2px;
  background-color: #323232;
  color: #f9f4da;
  font-size: 1.125rem;
}
