* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Hanken Grotesk", Arial, sans-serif;
  background-color: #262626;
  color: #d9d9d9;
  padding: 20px;
  height: 100vh;
  display: flex;
  justify-content: center;
}

header {
  text-align: center;
}

header h1 {
  font-size: 1.25rem;
  color: #f9f4da;
  max-width: 350px;
}

header > p {
  font-size: 0.875rem;
  color: #8e8e8e;
  max-width: 350px;
}

.status {
  background-color: #10a95b;
  border-radius: 4px;
  text-align: center;
  color: #f9f4da;
  margin-block: 30px;
}

.status h2 {
  font-size: 1.25rem;
  margin: 5px;
}

.status p {
  margin: 5px;
}
